<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title> Home Page </title>
    <head>
    <body style="background-color:Ivory;">
    	<p> Name: Luca Barcelo </p>
 		<img src = "{{url_for('static', filename='myFaceOnAHill.png')}}" width = "250" height = "250" />
 		<p> Grade: Freshman (Pass?) </p>
 		<p> Intended Major: Environmental Engineering </p>
 		<a href = "{{url_for('crypto')}}" > Learn Crypto! </a>  
 		<p></p>
 		<a href = "{{url_for('waterConsump')}}" > Model NYC Water Consumption with openData.newyorkcity </a>
 		<p></p>
 		<a href = "https://www.google.com/" > My Favorite Website! </a>
    </body>
</html>



