<!DOCTYPE html>
<html>
    <head>
        <title>Cryptography</title>
    </head>
    <body style="background-color:moccasin;">
    	<article>
    		<header>
    			<h1 style = "color:black;">Last 200 years of Human Pollution</h1>
    			<h3 style="color:lightcoral;">Stats per Country</h3>
    			<p>boo</p>
    			<h3 style="color:lightcoral;">Stats per capita</h3>
    			<p>boo</p>
    			<h3 style="color:lightcoral;">Stats over total population</h3>
    			<p>boo</p>
 			</header>
 		</article>
    </body>
</html>


 