<!DOCTYPE html>
<html>
    <head>
        <title>Cryptography</title>
    </head>
    <body style="background-color:moccasin;">
    		<header>
    			<h1 style = "color:black;">NYC Water Consumption</h1>
    			<a href = "{{url_for('dataTable')}}" > View Data </a>
    			<h3 style= "color:lightcoral;">Total Daily Consumption</h3>
    			<a href = "{{url_for('NYCWaterAnalysis')}}" > View Graph </a>
    			<h3 style= "color:lightcoral;">Per Capita Consumption</h3>
    			<a href = "{{url_for('NYCWaterAnalysises')}}" > View Graph </a>
    			<h3 style= "color:lightcoral;">Stats over total population</h3>
    			<a href = "{{url_for('NYCWaterAnalysiseses')}}" > View Graph </a>
 			</header>
    </body>
</html>


 


 
